*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
transcript/ba/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/be/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/bn/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/ca/invalidated.tsv filter=lfs diff=lfs merge=lfs -text
transcript/ca/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/ca/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/cs/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/de/invalidated.tsv filter=lfs diff=lfs merge=lfs -text
transcript/de/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/en/invalidated.tsv filter=lfs diff=lfs merge=lfs -text
transcript/en/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/en/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/eo/invalidated.tsv filter=lfs diff=lfs merge=lfs -text
transcript/eo/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/eo/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/es/invalidated.tsv filter=lfs diff=lfs merge=lfs -text
transcript/es/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/es/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/eu/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/eu/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/fr/invalidated.tsv filter=lfs diff=lfs merge=lfs -text
transcript/fr/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/fy-NL/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/hu/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/it/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/ja/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/ka/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/kab/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/kab/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/lg/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/lg/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/lv/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/mhr/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/rw/invalidated.tsv filter=lfs diff=lfs merge=lfs -text
transcript/rw/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/rw/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/sw/invalidated.tsv filter=lfs diff=lfs merge=lfs -text
transcript/sw/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/sw/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/ta/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/ta/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/th/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/ur/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/uz/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/uz/train.tsv filter=lfs diff=lfs merge=lfs -text
transcript/yue/other.tsv filter=lfs diff=lfs merge=lfs -text
transcript/zh-CN/invalidated.tsv filter=lfs diff=lfs merge=lfs -text
transcript/zh-CN/other.tsv filter=lfs diff=lfs merge=lfs -text
